{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
      "linebreak-style": ["error", "windows"],
      "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
  }
}
