{
  "extends": "airbnb",
  "env": { "browser": true, "node": true },
  "rules": {
    "react/prefer-stateless-function": [0, { "ignorePureComponents": "true" }],
    "linebreak-style": ["error", "windows"],
  }
}
